* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 80vw;
  margin: 0px auto;
}
.section-one {
  background: #1b3764;
  color: white;
}
.header {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  width: 80vw;
  margin: 0px auto;
}
.logo {
  display: flex;
  margin-right: 50px;
}
.logo img {
  margin-right: 10px;
}
.social-list {
  margin-right: auto;
}
.social-icon {
  padding: 10px 12px;
  background-color: white;
  margin: 0px 5px;
  color: black;
}
.site-item {
  margin: 0px 30px;
}
.site-link {
  color: white;
}
.active {
  color: #ffca42;
}
.site-link:hover {
  color: #ffca42;
}
.site-link .shooping-cart {
  color: black;
}
.order-btn {
  border: none;
  color: #1b3764;
  background-color: #ffca42;
  padding: 10px 15px;
  margin-left: 30px;
}
.one-body {
  display: flex;
  justify-content: space-between;
}
.header-left-info {
  width: 512px;
  margin-top: 140px;
}
.welcome-box {
  display: flex;
  align-items: center;
}
.welcome-box span {
  height: 2px;
  width: 35px;
  margin-right: 10px;
  background: #ffca42;
  display: inline-block;
}
.welcome-box p {
  text-transform: capitalize;
}
.header-left-info h1 {
  font-family: Cardo;
  font-size: 64px;
  font-weight: 400;
  line-height: 78px;
  margin: 10px 0px;
  text-transform: capitalize;
}
.header-right img {
  width: 520px;
}
.one-body-btn {
  margin-top: 15px;
}
.one-body-btn button {
  text-transform: capitalize;
  margin-left: 0px;
  margin-right: 30px;
}
.one-body-btn a {
  color: white;
  text-transform: capitalize;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
.body-one-add-info {
  display: flex;
  margin-top: 30px;
}
.two-header {
  text-align: center;
  margin-top: 120px;
}
.two-header span {
  height: 3px;
  width: 50px;
  background-color: #ffca42;
  display: inline-block;
}
.two-header h1 {
  font-size: 42px;
  font-weight: 400;
}
.add-info p {
  font-size: 24px;
  margin-right: 60px;
}
.add-info .searcle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffca42;
  display: inline-block;
}
.add-info .numbers-size {
  margin-left: 16px;
}
.two-books {
  display: flex;
  margin-top: 70px;
}
.section-two-body {
  margin: 0px 5px;
}
.section-two-body img {
  width: 285px;
  height: 382px;
}
.section-two-body h2 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 30px;
}
.book-price {
  font-size: 22px;
  color: #ffca42;
  margin: 7px 0px; 
}
.book-info {
  color: #969aa0;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}
.two-print-book {
  font-size: 24px;
  margin: 15px 0px;
}
.two-print-book span {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ffca42;
  display: inline-block;
  margin-right: 10px;
}
.book-order-btn {
  padding: 15px 55px;
  background-color: transparent;
  border: 2px solid #ffca42;
  margin-top: 30px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
}
.section-three {
  background-color: #F5F8FC;
}
.three-body {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.three-image-box {
  border: 10px solid #ffca42;
  width: 520px;
  height: 600px;
  margin-top: 150px;
}
.three-image-box img {
  position: absolute;
  width: 525px;
  height: 620px;
  transform: translate(-60px ,-60px);
}
.three-right-info {
  width: 430px;
  margin: 150px 0px;
}
.three-right-info h2 {
  font-size: 42px;
  font-weight: 400;
  text-transform: capitalize;
}
.three-right-info span {
  display: inline-block;
  width: 50px;
  height: 3px;
  background:  #ffca42;
  margin: 10px 0px 30px 0px;
}
.three-right-info p {
  font-weight: 400;
  color:  #969AA0;
}
.three-number-info {
  display: flex;
}
.scan-box {
  display: flex;
  background: #1B3764;
  padding: 20px;
}