* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 80vw;
  margin: 0px auto;
}
section h1 {
  font-size: 42px;
  font-weight: 400;
  color: #1b3764;
  text-align: center;
  margin-top: 120px;
}
.section-head-line {
  height: 3px;
  width: 50px;
  background-color: #ffca42;
  display: block;
  margin: 20px auto 0px auto;
}
.section-one {
  background: #1b3764;
  color: white;
}
.header {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  width: 80vw;
  margin: 0px auto;
}
.logo {
  display: flex;
  margin-right: 50px;
  align-items: center;
}
.logo img {
  margin-right: 10px;
}
.social-list {
  margin-right: auto;
}
.social-icon {
  padding: 10px 12px;
  background-color: white;
  margin: 0px 5px;
  color: black;
}
.site-item {
  margin: 0px 30px;
}
.site-link {
  color: white;
}
.active {
  color: #ffca42;
}
.site-link:hover {
  color: #ffca42;
}
.site-link .shooping-cart {
  color: black;
}
.order-btn {
  border: none;
  color: #1b3764;
  background-color: #ffca42;
  padding: 10px 15px;
  margin-left: 30px;
}
.one-body {
  display: flex;
  justify-content: space-between;
}
.header-left-info {
  width: 512px;
  margin-top: 140px;
}
.welcome-box {
  display: flex;
  align-items: center;
}
.welcome-box span {
  height: 2px;
  width: 35px;
  margin-right: 10px;
  background: #ffca42;
  display: inline-block;
}
.welcome-box p {
  text-transform: capitalize;
}
.header-left-info h1 {
  font-family: Cardo;
  font-size: 64px;
  font-weight: 400;
  line-height: 78px;
  margin: 10px 0px;
  text-transform: capitalize;
}
.header-right img {
  width: 520px;
}
.one-body-btn {
  margin-top: 15px;
}
.one-body-btn button {
  text-transform: capitalize;
  margin-left: 0px;
  margin-right: 30px;
}
.one-body-btn a {
  color: white;
  text-transform: capitalize;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
.body-one-add-info {
  display: flex;
  margin-top: 30px;
}
.add-info p {
  font-size: 24px;
  margin-right: 60px;
}
.add-info .searcle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffca42;
  display: inline-block;
}
.add-info .numbers-size {
  margin-left: 16px;
}
.two-books {
  display: flex;
  margin-top: 70px;
}
.section-two-body {
  margin: 0px 5px;
}
.section-two-body img {
  width: 285px;
  height: 382px;
}
.section-two-body h2 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 30px;
}
.book-price {
  font-size: 22px;
  color: #ffca42;
  margin: 7px 0px;
}
.book-info {
  color: #969aa0;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}
.two-print-book {
  font-size: 24px;
  margin: 15px 0px;
}
.two-print-book span {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ffca42;
  display: inline-block;
  margin-right: 10px;
}
.book-order-btn {
  padding: 15px 55px;
  background-color: transparent;
  border: 2px solid #ffca42;
  margin-top: 30px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
}
.section-three {
  background-color: #f5f8fc;
}
.three-body {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.three-image-box {
  border: 10px solid #ffca42;
  width: 520px;
  height: 600px;
  margin-top: 150px;
}
.three-image-box img {
  position: absolute;
  width: 525px;
  height: 620px;
  transform: translate(-60px, -60px);
}
.three-right-info {
  width: 430px;
  margin: 150px 0px;
}
.three-right-info h2 {
  font-size: 42px;
  font-weight: 400;
  text-transform: capitalize;
  color: #1b3764;
}
.three-right-info .line-auth {
  display: inline-block;
  width: 50px;
  height: 3px;
  background: #ffca42;
  margin: 10px 0px 30px 0px;
}
.three-right-info p {
  font-weight: 400;
  color: #969aa0;
}
.three-number-info {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.number-info-auth h2 {
  color: #1b3764;
  font-size: 54px;
}
.number-info-auth p {
  text-transform: capitalize;
  padding: 0px;
  margin: 0px;
}
.number-info-auth-line {
  width: 1px;
  height: 90px;
  background-color: #ffca42;
}
.scan-box {
  display: flex;
  background: #1b3764;
  padding: 20px;
  margin-top: 50px;
}
.auth-social-info {
  margin: auto;
}
.auth-social-info p {
  margin: 15px 0px;
}
.auth-social-info .auth-name {
  color: #ffca42;
  font-size: 22px;
}
.auth-social-info span {
  margin-right: 15px;
}
.four-body {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 120px;
}
.four-body h3 {
  font-size: 24px;
  color: #1b3764;
  font-weight: 400;
}
.four-body p {
  font-size: 18px;
  font-weight: 400;
  color: #969aa0;
}
.section-five {
  background-color: #1b3764;
  padding: 120px 0px;
}
.five-body {
  display: flex;
}
.five-left {
  width: 500px;
}
.five-left h2 {
  font-size: 45px;
  font-weight: 400;
  color: white;
  margin-top: 50px;
}
.five-left p {
  color: #b4c7e7;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 50px;
}
.five-left .five-line {
  width: 50px;
  height: 3px;
  background: #ffca42;
  display: inline-block;
  margin: 25px 0px;
}
.five-order-btn {
  background-color: transparent;
  border: 1px solid #ffca42;
  padding: 20px 50px;
}
.five-order-btn a {
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}
.six-body {
  display: flex;
  justify-content: space-between;
  margin: 110px 0px;
}
.six-left-box {
  display: flex;
  justify-content: space-between;
}
.six-mini {
  width: 280px;
  height: 250px;
  padding: 10px;
  background-color: #f4f8ff;
  margin: 10px;
}
.six-mini span {
  padding: 10px 12px;
  font-size: 24px;
  color: #1b3764;
  border-radius: 50%;
  background-color: #ffca42;
  display: inline-block;
}
.six-mini p {
  color: #1b3764;
  font-size: 24px;
}
.six-right {
  width: 440px;
  height: 540px;
  border: 10px solid #ffca42;
}
.six-right img {
  width: 440px;
  height: 540px;
  transform: translate(-60px, -60px);
}
.section-seven {
  background: #f4f8ff;
  padding: 1px 0px;
}

.seven-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.seven-boxes-top {
  margin-top: 70px;
}
.seven-boxes {
  display: flex;
}
.seven-box {
  width: 40vw;
  background-color: #fff;
  margin: 15px;
  padding: 40px;
}
.seven-box h3 {
  font-size: 24px;
  font-weight: 400;
  color: #1b3764;
}
.seven-box p {
  color: #969aa0;
  font-weight: 400;
  font-size: 18px;
  margin: 20px 0px 10px 0px;
}
.size-boxs {
  display: flex;
}
.size-box span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffca42;
  margin-right: 10px;
}
.size-box {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.size-box p {
  margin: 0px;
  font-size: 22px;
  color: #1b3764;
}
.size-box dd {
  font-size: 17px;
  color: #969aa0;
  margin-left: 10px;
  margin-top: 5px;
}
.seven-footer {
  text-align: center;
  margin-bottom: 120px;
}
.seven-footer-btn {
  padding: 24px 90px;
  background-color: #ffca42;
  border: none;
  margin-bottom: 35px;
  margin-top: 70px;
}
.seven-footer-btn a {
  color: #1b3764;
  font-size: 18px;
}
.seven-footer p {
  color: #969aa0;
}
.seven-question {
  color: #1b3764;
}

.section-eight {
  margin: 120px 0px;
}

.eight-left-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.eight-left-info h2 {
  font-size: 38px;
  font-weight: 400;
  color: #1b3764;
}
.eight-left-info .eight-line {
  width: 50px;
  height: 3px;
  background-color: #ffca42;
  display: inline-block;
  margin: 25px 0px;
}
.eight-left-info p {
  color: #969aa0;
  margin-bottom: 25px;
}
.mini-searcles span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffca42;
  margin: 0px 2px;
}
.mini-searcles p {
  font-size: 18px;
  color: #1b3764;
  margin-top: 10px;
}
.mini-searcles dd {
  display: inline-block;
}

.eight-body {
  display: flex;
}
.eight-right {
  display: flex;
  align-items: center;
}
.eight-single-box {
  width: 330px;
  height: 280px;
  background-color: #1b3764;
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 20px;
  margin: 10px 10px 20px 10px;
}
.eight-single-box q {
  font-size: 22px;
  font-weight: 400;
  color: white;
  margin: 15px 0px;
}
.eight-single-box p {
  font-size: 18px;
  color: #b4c7e7;
  line-height: 30px;
}
.eight-auth-info {
  display: flex;
}
.searcle-info {
  margin: 15px 0px 0px 20px;
}
.searcle-info span {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #ffca42;
  border-radius: 50%;
  margin: 0px 1px;
}
.searcle-info h3 {
  font-size: 24px;
  color: white;
  font-weight: 400;
}
.single-searcle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ffca42;
}
.left-single-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ffca42;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 2px;
}
.left-single-box span {
  border-left: 10px solid #ffca42;
  border-radius: 50%;
  background-color: transparent;
  width: 20px;
  height: 18px;
  margin: 0px;
}
.searcle-info .single-searcle {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #ffca42;
}
.searcle-info .right-single-box {
  background-color: transparent;
  border: 1px solid #ffca42;
  border-left: 6px solid #ffca42;
}

.section-nine {
  background-color: #f4f8ff;
  padding: 1px 0px 120px 0px;
}
.nine-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.nine-body-info {
  width: 350px;
}
.nine-body-info img {
  width: 350px;
}
.nine-body-info h3 {
  font-size: 24px;
  font-weight: 400;
  color: #1b3764;
  margin: 20px 15px;
}
.nine-body-info p {
  font-size: 18px;
  color: #969aa0;
  margin: 0px 15px;
}
.nine-box-link {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.nine-box-link a {
  color: #1b3764;
  font-weight: 400;
  border-bottom: 3px solid #1b3764;
  padding-bottom: 5px;
}
.nine-box-link p {
  color: #1b3764;
  font-size: 16px;
}
.ten-body {
  background: #ffca42;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.18);
  text-align: center;
  margin: 100px auto;
  padding: 1px;
}
.ten-body h1 {
  margin-top: 90px;
}
.ten-body span {
  background-color: #1b3764;
}
.ten-body p {
  font-size: 18px;
  font-weight: 400;
  width: 550px;
  display: inline-block;
  margin: 25px 0px 70px 0px;
}
.ten-btn {
  margin-bottom: 70px;
}
.ten-btn input {
  width: 650px;
  padding: 20px;
  border: 1px solid #dce1e9;
  margin-right: 20px;
}
.ten-btn button {
  padding: 20px 100px;
  background: #1b3764;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 400;
}

.section-footer {
  background-color: #1b3764;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 90px 0px;
}
.footer-right-info {
  display: flex;
}
.footer-box {
  display: flex;
  flex-direction: column;
}
.footer-box h3 {
   color: white;
   font-size: 30px;
}
.footer-box h2 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
}
.footer-box a {
  color: #b4c7e7;
  margin: 10px 0px 10px 15px;
}
.footer-link {
  display: flex;
  align-items: center;
}

.footer-right-box {
  display: flex;
}
.address-box p {
  margin-left: 30px;
}
.footer-box span {
  width: 2px;
  height: 2px;
  display:inline-block;
  background-color: #ffca42;
  margin: 0px 2px ;
  border-radius: 50%;
  font-size: 12px;
}
.footer-social-icon {
  display: flex;
  align-items: center;
}
.footer-social-icon a {
  color: white;
  padding: 10px;
  margin: 20px 2px;
  border: 1px solid #ffca42;
  font-size: 12px;
}
.address-box {
  display: flex;
  margin: 10px 0px;
  flex-direction: column;
}
.address-box b {
  color: white;
  margin: 10px 0px;
}
.address-box p {
  color: #b4c7e7;
  margin: 10px 20px;
  width: 200px;
}
.last-footer-info {
  text-align: center;
  color: #b4c7e7;
  padding-bottom: 30px;
}
.address-box .mail {
  margin-top: 35px;
}